@import url(crosshair.css);
@import url(test.css);

body {
	height: 100vh;
	margin: 0;
	background-color: #000;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

canvas {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 1;
}